// v2 archetype: sizes are in 4 m module-grid cells.
(
    id: "corvette",
    display_name: "Patrol Corvette",
    length: (12, 18),
    beam: (7, 10),
    decks: (1, 2),
    hull_fill_bp: 8800,
    asymmetry_bp: 500,
    deck_erosion: 1,
    template: "",
    role_weights: [(Armory, 3), (CrewQuarters, 3), (Engineering, 3), (Reactor, 2), (Medical, 2), (MessHall, 2), (Storage, 2)],
    guaranteed_roles: [Engineering],
    max_duplicates: 2,
    filler_roles: [(Storage, 100), (Compartment, 70), (Maintenance, 50)],
    cause_weights: [
        (PirateBoarding, 35),
        (ReactorBreach, 20),
        (Depressurization, 20),
        (DriveMisjump, 10),
        (Unknown, 15),
    ],
    max_breaches: 5,
)
