// v2 archetype: sizes are in 4 m module-grid cells.
(
    id: "shuttle",
    display_name: "Utility Shuttle",
    length: (10, 14),
    beam: (6, 8),
    decks: (1, 1),
    hull_fill_bp: 9200,
    asymmetry_bp: 600,
    deck_erosion: 1,
    template: "",
    role_weights: [(Cargo, 3), (Storage, 3), (CrewQuarters, 2), (Maintenance, 2), (Medical, 1)],
    guaranteed_roles: [],
    max_duplicates: 2,
    filler_roles: [(Storage, 100), (Compartment, 80)],
    cause_weights: [
        (Depressurization, 30),
        (PirateBoarding, 25),
        (DriveMisjump, 20),
        (ReactorBreach, 10),
        (Unknown, 15),
    ],
    max_breaches: 3,
)
